ninja  # For faster builds.
psutil
ray
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch >= 2.0.0
transformers @ git+https://github.com/ertkonuk/transformers.git  # Required for NVGPT.
xformers >= 0.0.19
fastapi
uvicorn
pydantic==1.10.11  # Required for OpenAI server
fschat  # Required for OpenAI ChatCompletion Endpoint.
einops # Required for NVGPT
